// @import 'slick';
// @import 'slick-theme';
@import 'normalize';
@import 'vars';


* {
	box-sizing: border-box;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
}

body {
	font-family: $text;
}

img {
	display: block;
	max-width: 100%;
	width: 100%;
	object-fit: cover;
}

input {
	// max-width: 349px;
	width: 100%;
	height: 45px;
	margin-right: 28px;
	padding: 12px 16px;
	border: 1px solid #DCDCDC;
	border-radius: 6px;
	font-family: 'Manrope';
	font-weight: 500;
	font-size: 13px;
	line-height: 150%;
	color: #7B7B7B;
	background-color: transparent;
	&:last-child {
		margin-right: 0;
	}
}

button {
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.5;
	color: #FFFFFF;
	min-width: 156px;
	padding: 20px 92px;
	background-color: $orange;
	border-radius: 50px;
	display: inline-block;
	border: none;
	cursor: pointer;
}

.container {
	// max-width: 1230px;
	width: 100%;
	padding: 0 30px;
	margin: 0 auto;
	// margin-left: 280px;
	min-width: 0;
}

.ami-container {
	padding-left: 310px;
	padding-right: 30px;
}

.section__title {
	font-family: $title;
	font-weight: normal;
	font-size: 38px;
	line-height: 150%;
	color:$black;
	margin-bottom: 105px;
	text-align: center;
}

.main-slider__container {
	padding-top: 30px;
	padding-bottom: 30px;
}


.swiper-slide > img {
	width: 100%;
}

.swiper-pagination.swiper-pagination-bullets {
	bottom: 44px;
}

.swiper-pagination-bullet {
	background: rgba(255, 255, 255, 0.5);
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background: rgba(99, 97, 95, 0.5);
}

.slide-button {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 90px;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.5;
	color: #FFFFFF;
	min-width: 156px;
	padding: 20px 92px;
	background-color: $orange;
	border-radius: 50px;
	display: inline-block;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 114px;
}
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	max-width: 280px;
	width: 100%;
	height: 100vh;
	padding: 7px 30px 17px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	background-color: #fff;
	border-right: 1px solid #f0ece9;
	&__logo {
		width: 172px;
		height: 170px;
		margin: 0 auto;
		&-img {
			width: 100%;
		}
	}
}

.nav__menu {
	width: 100%;
	&-list {
		width: 100%;
	}
	&-item {
		width: 100%;
	}
	&-link {
		color: $orange;
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		display: inline-block;
		width: 100%;
		padding: 16px 0;
		padding-left: 48px;
		transition: all .2s ease;
		&:hover, &:focus, &:active {
			background-color: $orange;
			border-radius: 100px;
			color: #fff;
			transition: all .2s ease;
		}
	}
}

.header__social {
	display: flex;
	justify-content: space-between;
	margin-bottom: 26px;
	&-item { 
		margin-right: 16px;
		&:last-child {
			margin-right: 0;
		}
	}
	&-link {
		& > svg {
			& > path {
				transition: all .2s ease;
				fill: $orange;
			}
		}
		&:hover, &:focus, &:active {
			& > svg {
				& > path {
					fill: #423F3E;
					transition: all .2s ease;
				}
			}
		}
	}
}

.header__phone {
	text-align: center;
	margin-bottom: 6px;
	&-link {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.1em;
		color: #423F3E;
		transition: all .2s ease;
		&:hover, &:focus, &:active {
			color: $orange;
			transition: all .2s ease;
		}
	}
}

.header__email {
	text-align: center;
	margin-bottom: 6px;
	&-link {
		font-size: 16px;
		line-height: 1.5;
		color: #423F3E;
		transition: all .2s ease;
		&:hover, &:focus, &:active {
			color: $orange;
			transition: all .2s ease;
		}
	}
}

.header__lang {
	display: flex;
	justify-content: center;
	&-item {
		margin-right: 8px;
		&:last-child {
			margin-right: 0;
		}
	}
	&-link {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
		color: $orange;
		transition: all .2s ease;
		&:hover, &:focus, &:active {
			color: #423F3E;
			transition: all .2s ease;
		}
	}
}

.header__slider {
	width: 100%;
	overflow: hidden;
	padding: 42px 0;
	background-color: #fff;
	&-item {
		width: 100%;
		border-radius: 6px;
		max-height: 670px;
		overflow: hidden;
		& > img {
			width: 100%;
		}
	}		
}


// category

.category {
	width: 100%;
	margin-bottom: 135px;
}

.category__list {
	display: grid;
	grid-template: 260px 220px 250px / repeat(9, 1fr);
	grid-gap: 28px;
	max-height: 786px;
}

.dolce {
	grid-row: 1 / 2;
	grid-column: 1 / 6;
}
.natura {
	grid-column: 6 / 10;
}
.dino {
	grid-row: 2 / 3;
	grid-column: 1 / 4;
}

.champion {
	grid-row: 2 / 3;
	grid-column: 4 / 7;
}
.galaxy {
	grid-row: span 2;
	grid-row: 2 / 4;
	grid-column: 7 / 10;
}

.hrust {
	grid-row: 3 / 4;
	grid-column: 1 / 3;
}

.energy {
	grid-row: 3 / 4;
	grid-column: 3 / 7;
}

.category__item {
	position: relative;
	transition: all .3s ease;
	background-color: #000;
	border-radius: 6px;
	&:hover {
		.category__item-img {
			transition: all .3s ease;
			opacity: .6;
		}
		.category__item-btn {
			transition: all .3s ease;
			background-color: rgba($orange, 0.8);
			color: #ffffff;
		}
	}
}
.category__item-link {
	height: 100%;
}

.category__item-img {
	transition: all .3s ease;
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 6px;
}
.category__item-btn {
	display: block;
	max-width: 120px;
	width: 100%;
	padding: 6px 28px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 64px;
	position: absolute;
	left: 50%;
	bottom: 22px;
	z-index: 15;
	transform: translateX(-50%);
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	font-size: 13px;
	line-height: 1.5;
	color: $orange;
	transition: all .3s ease;
}

.about {
	margin-bottom: 135px;
	&__item {
		display: flex;
		width: 100%;
		margin-bottom: 30px;
	}
	&__text {
		font-family: $text;
		font-weight: 400;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $green;
	}
	&__photo {
		width: 50%;
		min-height: 320px;
		overflow: hidden;
		& > img {
			height: 100%;
		}
	}
}


.about__item {
	border-radius: 6px;
	overflow: hidden;
	& > .about__photo > img {
			transition: all .3s ease;
		}
	&:hover, &:active, &:focus {
		& > .about__photo > img {
			scale: 1.1;
			transition: all .3s ease;
		}
	}
}



.about__text-description {
	opacity: 0.8;
}

.about__text--ingredients,
.about__text--minerals,
.about__text--children,
.about__text--recipe {
	background-repeat: no-repeat;
	background-position: bottom left;
	padding: 85px 30px 30px 142px;
	color: #fff;
}

.about__text--minerals,
.about__text--recipe  {
	background-position: bottom right;
	padding: 85px 145px 30px 45px;
}

.about__item--minerals,
.about__item--recipe {
	display: flex;
	flex-direction: row-reverse;
}

.about__text--children {
	& > .about__text-description {
		max-width: 348px;
	}
}

.about__text--minerals,
.about__text--recipe {
	background-color: $pink;
	& > .about__text-title {
		color: $black;
	}
	& > .about__text-description {
		color: $black;
	}
}

.about__text-title {
	font-family: $title;
	font-size: 22px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 16px;
}
.about__text-description {
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	text-align: center;
}


// Partners

.partners {
	margin-bottom: 135px;
}
.partners__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 109px;
}
.partners__item {
	max-width: 254px;
	margin: 14px;
	transition: all .3s ease;
	overflow: hidden;
	&:hover, &:active, &:focus {
		box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
		transition: all .3s ease;
		& > .partners__link > .partners__img {
			scale: 1.1;
			transition: all .3s ease;
		}
	}
}
.partners__img {
	transition: all .3s ease;
}

.partners__form {
	background: #F8F8F8;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 92px 30px;
}
.partners__form-title {
	font-family: $title;
	font-size: 38px;
	line-height: 1.5;
	text-align: center;
	color: $orange;
	margin-bottom: 14px;
}
.partner__form-description {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	color: $black;
	opacity: 0.8;
	margin-bottom: 43px;
	max-width: 290px;
	width: 100%;
}
.partner__input-group {
	display: flex;
	max-width: 725px;
	width: 100%;
	margin-bottom: 28px;
}

.partner__button {
	transition: all .3s ease;
	margin-top: 44px;
	&:hover, &:active, &:focus {
		transition: all .3s ease;
		transform: scale(1.1);
	}
}


// More About

.more-about {
	margin-bottom: 108px;
}
.more-about__section-title {
	margin-bottom: 32px;
}

.more-about__social {
	display: flex;
	justify-content: center;
	margin-bottom: 26px;
}
.social-item {
	transition: all .3s ease;
	&__link {
		transition: all .3s ease;
		padding: 15.5px;
		background-color: $orange;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		& > svg {
			& >  path {
				fill: #fff;
			}
		}
	}
	&:not(:last-child) {
		margin-right: 39px;
	}
	&:hover, &:active, &:focus {
		transition: all .3s ease;
		.social-item__link {
			transition: all .3s ease;
			transform: scale(1.2);
			// background-color: #423F3E;
		}
	}
}

.ami-hashtag {
	font-family: 'Manrope';
	font-weight: 500;
	font-size: 28px;
	line-height: 1.8;
	color: $orange;
	text-align: center;
	margin-bottom: 25px;
}


.more-about__gallery {
	margin: 0 auto;
	max-width: 1050px;
}
.more-about__gallery-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
.more-about__gallery-item {
	max-width: 330px;
	max-height: 284px;
	overflow: hidden;
	margin-bottom: 30px;
	&:hover, &:active, &:focus {
		& > .more-about__gallery-link {
			& > .more-about__gallery-image {
				transition: all .3s ease;
				transform: scale(1.1);
				opacity: 1;
			}
		}
	}
}

.more-about__gallery-link {
}
.more-about__gallery-image {
	height: 100%;
	transition: all .3s ease;
	opacity: .9;
}


// Footer

.ami-footer {
	width: 100%;
	padding-top: 39px;
	padding-bottom: 50px;
	background-color: $green;
}
.footer-top {
	display: flex;
	padding-bottom: 42px;
	justify-content: space-between;
	border-bottom: 2px solid rgba($color: #fff, $alpha: 0.1);
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}
.footer__logo {
}
.footer__logo-link {
	display: block;
	max-width: 227px;
	width: 100%;
}
.footer__logo-img {
	width: 100%;
}
.footer__menu {
	max-width: 190px;
	width: 100%;
	margin-top: 26px;
}
.footer__menu-list {
}
.footer__menu-item:not(:last-child),
.footer__contacts-item:not(:last-child) {
	margin-bottom: 8px;
}
.footer__menu-link,
.footer__contacts-link {
	font-family: $text;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.6;
	color: #FFFFFF;
}
.footer__contacts {
	max-width: 348px;
	width: 100%;
	margin-top: 26px;
}
.footer__contacts-list {
	margin-bottom: 33px;
}
.footer__contacts-item {
}
.footer__contacts-link {
	position: relative;
	display: block;
	padding-left: 31px;
	transition: all .3s ease;
	&:hover, &:active, &:focus {
		transition: all .3s ease;
		opacity: .6;
	}
}
.footer__contacts-link_phone:before {
	position: absolute;
	content: '';
	background-image: url('../images/icons/phone.svg');
	left: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
}
.footer__contacts-link_email:before {
	position: absolute;
	content: '';
	background-image: url('../images/icons/mail.svg');
	left: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
}
.footer__contacts-link_location:before {
	position: absolute;
	content: '';
	background-image: url('../images/icons/location.svg');
	left: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
}
.footer__contacts-map {
	border-radius: 6px;
	overflow: hidden;
}
.footer-bottom {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	padding-top: 42px;
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.footer__bottom-copy {
	font-family: $text;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5;
}
.footer__social {
}
.footer__social-list {
	display: flex;
}
.footer__social-item:not(:first-child) {
	margin-left: 16px;
}
.footer__social-link {
	transition: all .3s ease;
	& > svg {
		& > path {
			fill: #fff;
		}
	}
	&:hover, &:active, &:focus {
		opacity: .65;
		transition: all .3s ease;
	}
}

@import 'media';