body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: #444652;
}

.center-v {
	align-items: center;
}

a {
	text-decoration: none;
	color: #424652;
	text-transform: uppercase;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.btn {
	max-width: 290px;
	width: 100%;
	background-color: #EB6302;
	height: 35px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .1rem;
	border: none;
	outline: none;
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 35px;
}

.btn:hover {
	text-decoration: none;
	color: #fff;
}

.glo, .neo {
	text-transform: lowercase;
	font-weight: 700;
	color: #EB6302;
}

.neo {
	color: #424652;
}

.text__marker {
	color: #EB6302;
	font-weight: 300;
}

section {
	padding: 50px 0;
}

.section__wrapper {
	display: flex;
	flex-direction: column;
}

.section__title {
	font-weight: 300;
	font-size: 32px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.section__subtitle {
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	text-transform: uppercase;
}

.section__text {
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 0;
	margin-top: 1rem;
}

.section__notice {
	font-weight: 300;
	font-size: 12px;
	line-height: 22px;
	display: flex;
	align-items: center;
	margin-top: 90px;
}

/* ========== Header Navigation ========== */

#sticker-sticky-wrapper {
	position: relative;
	z-index: 9999;
}

.nav {
	height: 75px;
	display: flex;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);	
}

.header__wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.nav__menu {
	display: flex;
	justify-content: space-between;
}

.nav__menu-item {
	font-weight: 700;
}

.nav__menu-link:hover {
	text-decoration: none;
	color: #EB6302;
}

.nav__logo {
	display: flex;
	justify-content: flex-end;
}

/* ========== Main Offer ========== */

.main {
	background-color: #000;
	background-image: url(../img/header-img.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right bottom;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: #fff;
}

.main__offer-title {
	font-size: 36px;
	font-weight: 300;
	line-height: 55px;
	text-transform: uppercase;
	color: #fff
}

.main__offer-btn {
	margin-top: 36px;
	box-shadow: 0px 0px 15px rgba(243, 121, 53, 0.85);
}

.main__offer-btn a {
	color: #fff;
	text-decoration: none;
}

/* ========== Section Knowledge ========== */

.knowledge .section__notice {
	margin-top: 1.25rem;
}

.section__text .glo, .section__notice .glo {
	color: #424652;
}

/* ========== Section Video ========== */

.video {	
	background: url('../img/video-bg.jpg') no-repeat center center / cover;
	padding: 0;
}

.video__wrapper {
	background-color: rgba(20, 11, 0, .54);
	width: 100%;
	height: 100%;
	padding: 100px 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

a img {
	width: 28px;
}

.popup-youtube {
	width: 96px;
	height: 96px;
	display: flex;
	justify-content: center;
	border: 2px solid #EB6302;
	border-radius: 50%;
	padding-left: 5px;
}

.hint {
	margin: 20px 0 0 0;
	color: #fff;
	font-size: 1.1rem;
	letter-spacing: .05rem;
}

/* ========== Section Comfort ========== */

.comfort {
	padding-top: 80px;
}

.comfort .main__offer-btn {
	box-shadow: none;
}

.section__img img {
	width: 100%;
}

.comfort__img img {
	margin: 25px 0;
	width: 45%;
}

.advantages {
	padding: 80px 0 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.advantages__description {
	padding: 15px 0 15px 0;
}

.advantages__item {
	max-width: 130px;
	text-align: center;
}

/* ========== Section Sticks ========== */

.sticks {
	background-color: #ebebeb;
	padding: 65px 0;
	display: flex;
	align-items: center;
}

.sticks .section__title {
	text-align: left;
}

.warning {
	font-size: 26px;
	line-height: 36px;
	text-align: center;
}

/* ========== Section Progress ========== */

.progress {
	background-color: #191b1d;
}

.progress__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	max-width: 250px;
	margin: 0 auto;
}

.progress__icon img {
	width: 28px;
}

.progress__item-subtitle {
	font-size: 16px;
	line-height: 35px;
	font-weight: 300;
}

.progress__item-title {
	font-size: 80px;
	font-weight: 700;
	line-height: 1;
	color: #EB6302;
}

.progress__item-description {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
	margin-top: 7px;
}

/* ========== Section Using ========== */

.using {
	padding: 75px 0;
}

.using__item {
	text-align: center;	
	max-width: 400px;
	margin: 0 auto;
	margin-top: 55px;
}

.using__item-title {
	margin: 5px 0;
	font-size: 20px;
	font-weight: 700;
	color: #EB6302;
}

.using__item-description {
	font-size: 16px;
	line-height: 24px;
}

.using__item-description .glo {
	color: #444652;
}

/* ========== Section Sales ========== */

.sales__item {
	margin-top: 50px;
}

.sales__product-image {
	text-align: center;
}

.sales__description .section__subtitle {
	margin-bottom: 10px;
}

.sales__text {
	font-size: 16px;
	line-height: 1.75;
}

.sales__text-title {
	font-weight: 700;
}

.sales__price-old {
	display: inline-block;
	font-weight: bold;
	font-size: 28px;
	line-height: 1.5;
	text-decoration-line: line-through;
}

.sales__price-new {
	display: inline-block;
	color: #EB6302;
	font-weight: bold;
	font-size: 40px;
	line-height: 1.5;
	margin-right: 15px;
}

.sales__text .btn {
	margin-top: 20px;
}

.sales-glo {
	font-weight: 700;
}

/* ========== Section Test ========== */

.test {
	background-color: #ebebeb;
	padding: 65px 0;
}

.section__test-subtitle {
	line-height: 1.75;
}

.section__test-text {
	font-size: 20px;
	line-height: 1.75;
}

.test-btn {
	margin-top: 40px;
}

.test__image-block {
	display: flex;
	justify-content: space-around;
}

/* ========== Section Feedback ========== */

.feedback__title {
	text-transform: none;
}

.feedback__subtitle {
	text-transform: none;
	text-align: center;
}

label {
	display: block;
	text-align: left;
	font-size: 14px;
	font-weight: 400;
}

.feedback__form {
	max-width: 400px;
	padding: 40px 40px;
	background-color: #fff;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.feedback__form-title {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #f37935;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.feedback__form-subtitle {
	font-size: 14px;
	text-align: center;
}

.feedback__form-name,
.feedback__form-email,
.feedback__form-message {
	display: flex;
	flex-direction: column;
	margin: 5px 0;
	width: 100%;
	font-size: 14px;
	font-weight: 400;
}

.feedback__form input,
.feedback__form textarea {
	width: 100%;
	border: none;
	outline: none;
	resize: none;
	border-bottom: 1px solid #979b9f;
	font-size: 14px;
	margin-bottom: 25px;
	padding: 5px 5px
}

.feedback__form input::placeholder,
.feedback__form textarea::placeholder {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.45)
}

.feedback__form-btn {
	width: 100%;
	background-color: transparent;
	border: 1px solid #f37935;
	outline: none;
	color: #f37935;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 2.1875rem;
	letter-spacing: 0.12rem;
	cursor: pointer;
	margin-top: 15px
}

.feedback__form-btn:hover,
.feedback__form-btn:focus,
.feedback__form-btn:active {
	background-color: #EB6302;
	color: #ffffff;
	transition: all .25s
}

/* ========== Section Footer ========== */

.footer {
	background-color: #191b1d;
	padding: 50px 0;
	color: #fff;
	display: flex;
	align-items: center;
}

.footer a {
	color: #ffffff;
}

.footer__location {
	display: flex;
	max-width: 290px;
	align-items: center;
	justify-content: space-between;
}

.footer__location-icon {
	margin-right: 10px;
}

.footer__location-icon img {
	width: 36px;
}

.footer__social {
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: center;
}

.footer__social a {
	width: 32px;
	height: 32px;
	background-color: #f37935;
	align-items: center;
	justify-content: center;
	margin: 0px 5px;
	text-align: center;
	line-height: 32px;
	border-radius: 50%;
}

.footer__social a:hover,
.footer__social a:focus,
.footer__social a:active {
	background-color: #EB6302;
	transition: all .25s
}

.footer__copyright-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.footer__logo img {
	margin-right: 10px;
	width: 40px;
}