@media screen and (max-width: 1200px)
	.products__gallery-item
		width: 33% 
	.footer__nav-contacts .footer__nav-menu .footer__nav-item:last-child
		margin-top: 0  
	
@media screen and (max-width: 991px)
	.header__nav .header__menu-items .header__menu-item a
		font-size: 11px
	.section__title
		font-size: 1.3rem
	.section__description 
    	font-size: 0.9rem
	.advantages .advantages__items
		padding: 15px 0
	.advantages .advantages__item
		//margin-bottom: 30px
		max-width: 70%
		margin: 0 auto
	.products
		margin-top: 65px
	.footer
		padding-top: 50px
		padding-bottom: 50px
		background-size: cover
		text-align: center
	.footer__nav-menu
		text-align: left
	label
		display: block
		text-align: left
	.footer__form-title
		text-align: center
		font-size: 0.94rem
	.footer__form-subtitle
		text-align: center
    	font-size: 0.78rem
	.footer__form-subtitle span
			font-size: 0.94rem
	.footer__form-btn
		font-size: 0.8rem
	.copyright
		font-size: 0.7rem
		text-align: left
	
@media screen and (max-width: 768px)	
	.header__nav-btn
		display: block
	.header__slider .offer__title
		font-size: 2.25rem
	.header__slider .offer__description
		font-size: 1.15rem
		line-height: 2.1rem
	section .products
		margin-top: 65px
	.products__gallery-item
		width: 100%
		margin: 0 auto
	.footer
		padding-bottom: 68px	
	.footer__logo
		margin-bottom: 30px		
	.footer__form-title, .footer__form-subtitle span
		font-size: 1rem
	.copyright
		bottom: 0
		top: 1.125rem
		text-align: center
	
@media screen and (max-width: 576px)
	section
		//margin-top: 25px
		padding-top: 50px
		padding-bottom: 0 !important
		margin-top: 0	
	.header__slider .offer-wrapper
		padding-top: 60px
	.header__slider .offer__title
		font-size: 2.25rem
		line-height: 3rem
		justify-content: center
		text-align: center
	.header__slider .offer__description
		font-size: 1.15rem
		line-height: 2rem
		justify-content: center
		text-align: center
	.header__slider .offer__submit
		justify-content: center
		text-align: center
	.section__title
		width: 85%
		font-size: 1.15rem
		margin: 0 auto
	.section__description
		font-size: 0.9rem
		width: 85%
		margin: 0 auto
		margin-bottom: 40px
	.applying
		background-image: none !important
	.advantages .advantages__item
		width: 100%
		margin: 0 auto
		margin-bottom: 30px		
	.products
		margin-top: 0
		padding-top: 0
	.copyright .artjetfly
		display: block	
		margin: 0
	
@media screen and (max-width: 370px)
	.header__logo img
		width: 70px
	.header__nav .header__callback .header__callback-btn
		font-size: 0.7rem
		letter-spacing: 0.07rem
	.header__slider 
		.offer-wrapper 
			position: absolute
			height: 100%	
	.header__slider .offer__title
		font-size: 2rem
		line-height: 2.5rem
		text-align: center	
	.header__slider .offer__description 
		font-size: 1.15rem
		line-height: 2rem
		text-align: center
		margin-bottom: 0
	.header__slider .offer__submit
		margin-top: 40px
	.ui-accordion .ui-accordion-header
		font-size: 95%
	.advantages .advantages__item
		width: 100%
		margin: 0 auto
		margin-bottom: 30px
	.footer
		padding: 50px 0
		background-size: cover
		text-align: center


	


@media screen and (max-width: 320px)
	.header__slider .offer__description
		font-size: 1.25rem
	
