@import "vars"
@import "fonts"
@import "libs"

::placeholder
  color: #666

::selection
  background-color: $dark
  color: #fff

.h5
  text-transform: uppercase
  font-size: 0.875rem
  font-weight: 600
  line-height: 1.5rem
  letter-spacing: .5px
  color: #ffffff
  opacity: 1

.a18622da_e04c_41fc_b6ea_82a9b5417c40_6bd79e10_5bb8_4d3b_a208_ccc01b469bf4root
  margin-right: 10%

.hvr-underline-from-left 
  display: inline-block
  vertical-align: middle
  -webkit-transform: perspective(1px) translateZ(0)
  transform: perspective(1px) translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  position: relative
  overflow: hidden

.hvr-underline-from-left:before 
  content: ""
  position: absolute
  z-index: -1
  left: 0
  right: 100%
  bottom: 2px
  background: $second
  height: 3px
  -webkit-transition-property: right
  transition-property: right
  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s
  -webkit-transition-timing-function: ease-out
  transition-timing-function: ease-out

*
  transition: all 0.2s ease
  box-sizing: border-box

.w-100
  width: 100%
  

section
  padding: 90px 0

.section-title
  font-family: 'Fira Sans', sans-serif
  font-size: 2rem
  font-weight: 900
  line-height: 2.8125rem
  color: $accent
  
.btn
  display: inline-block
  background-color: $accent
  color: #fff
  font-size: 0.875rem
  text-transform: uppercase
  text-decoration: none
  font-weight: 600
  letter-spacing: 0.13rem
  padding: 14px 40px
  padding-bottom: 12px
  border-radius: 3px
  margin-top: 7%
  &:hover
    box-shadow: 0px 0px 25px rgba(255, 151, 0, 0.65)
    color: #ffffff
    text-decoration: none
        

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green
  ul, li
    display: inline-block
    margin: 0
    padding: 0



  .img-responsive
    display: block
    max-width: 100%
    height: auto
    &.img-width
      width: 100%

  .text-center
    text-align: center

  b, strong
    font-weight: bold


  section, header
    position: relative
    background-size: cover
    background-position: center

  &.ishome
    .site-header
      max-height: 100vh
      background-color: #E3DABB
    .top__line
      position: fixed
      z-index: 5
      width: 100%
      height: 2.5rem
      background-color: $accent
      &-offer
        width: 100%
      .h1, .h2
        font-family: 'Fira Sans', sans-serif
        color: #fff
        text-transform: uppercase
        font-size: 0.75rem
        font-weight: 700
        letter-spacing: 0.1rem
        line-height: 40px
        margin-bottom: 0
        text-align: right
        .fas
          margin: 0 7px
          &:last-child
            margin-right: 0
      .top__line-location
        .h2
          font-weight: 700
          line-height: 12px
          text-align: right
          font-size: 0.67rem
          letter-spacing: 0.06rem
      // &-location
      //   margin-right: 8px
      //   text-align: right
      //   margin-top: 7px
        // .fas
        //   position: absolute
        //   left: 12px
        //   font-size: 1.3rem
        p
          font-family: 'Fira Sans', sans-serif
          color: #fff
          font-size: .65rem
          letter-spacing: .02rem
      &-phone
        font-family: 'Fira Sans', sans-serif
        font-size: 1.1rem
        color: #fff
        font-weight: 800
        text-align: center
        line-height: 40px
        background-color: $red
        cursor: pointer
        letter-spacing: 0.03rem

    .top__nav
      position: fixed
      z-index: 2
      left: 0
      top: 40px
      width: 100%
      background-color: #fff
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.25)
      height: 75px
      .logo
        line-height: 73px
        img
          width: 100px


      &-menu
        line-height: 75px 
        li     
          display: inline-block
          cursor: pointer
          position: relative
          &:hover a, &:focus a, &:hover a
            color: $second

      &-menu li, &-autorization li
        margin: 0 7px
        &-menu li:hover, li:focus, li:active
          a
            color: $second
        a
          color: $dark
          text-transform: uppercase
          text-decoration: none
          line-height: 75px
          font-size: 0.75rem
          font-weight: 400
          &:hover, &:focus, &:active
            color: $second

        
        
        .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before 
          right: 0
        
          
      &-autorization li:hover, li:focus, li:active
        cursor: pointer
        a
          color: $second

      &-autorization
        display: flex
        justify-content: flex-end
        padding-right: 10%
        .fas
          font-size: 1.1rem
          margin-right: 10px
          margin-left: 10px

    .carousel-main
      height: 100vh
      position: relative
      bottom: 0
      .owl-nav
        display: none
      &-item
        position: relative
        font-family: "Fira Sans", serif
        color: #fff
        &>.img-item
          background-size: cover
          background-repeat: no-repeat
          background-position: center
          height: 100vh
        &>.offer
          position: absolute
          left: 13.5%
          top: 30%
          &>.offer-title
            font-weight: 900
            font-size: 1.875rem
            text-transform: uppercase
            line-height: 3rem
            letter-spacing: 0.07rem
            margin-bottom: 1.5rem
            &>span
              display: inline-block
              background-color: $second
              margin-top: 0.25rem
              padding: 0 25px 0 20px
          &>.offer-description
            font-size: 1.125rem
            font-weight: 700
            letter-spacing: 0.01rem
            line-height: 1.75rem
            text-transform: none
            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75)
            width: 43%
    

    .side-bar
      position: absolute
      top: 0
      right: 0
      // left: 0
      bottom: 0
      z-index: 2
      display: flex
      width: 70px
      height: 100vh
      padding-bottom: 4%
      justify-content: center
      background-color: rgba(255,255,255, .75)
      &__location
        position: absolute
        width: 300px
        right: -180%
        bottom: 42%
        transform: rotate(270deg)
        color: lighten($dark, 5%)
        &>.location
          font-weight: 700
          line-height: 12px
          font-size: .7rem
          letter-spacing: 0.03rem
          text-transform: uppercase
        .fas
          position: absolute
          left: -25px
          top: 2px
          font-size: 1.45rem
        p
          font-family: 'Fira Sans', sans-serif
          font-size: .65rem
          letter-spacing: .025rem
      &__social
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        margin-top: 9rem
        &-icon
          margin-top: 10px
          margin-left: 5px
          >.animated
            animation-duration: .25s
            animation-delay: .025s
        .fab
          font-size: 0.8125rem
          color: #fff
          text-decoration: none
          line-height: 28px
          text-align: center
          background-color: $dark
          border-radius: 50%
          width: 28px
          height: 28px
          &:hover
            background-color: lighten($second, 5%)
            box-shadow: 0px 0px 7px rgba($second, 0.85)

              



.hamburger
  position: absolute
  z-index: 2
  right: 0
  top: .75rem
  &-box
    width: 35px
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
    width: 28px
    height: 1.75px
    background-color: $dark
  .hamburger-inner::before
    top: -8px
  .hamburger-inner::after
    top: 8px
  .hamburger .hamburger--emphatic .is-active
    position: fixed

.mm-menu.mm-effect-menu-slide
  position: fixed
  z-index: 99

.mm-navbar
  background: $accent
  height: 40px
.mm-title
  margin-top: 50px
.mm-listview
  padding-top: 90px
  padding-left: 20px
.m-autorization
  display: none
.mm-listitem a
    &:hover
      color: $second
.mm-panels > .mm-panel.mm-hasnavbar
  right: -18px
.mm-listview > li:not(.mm-divider)::after
  display: none
.mm-listview > li a
  &:hover
    color: $second
.mm-menu.mm-theme-white .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu.mm-theme-white .mm-listview > li.mm-selected > span:hover
  color: $second
.fas
  margin-right: 10px

html.mm-opened
  overflow-y: scroll

/* Секция с призывом учиться */

.study, .hostel
  background-color: #ffffff
  position: relative
  z-index: 1
  box-shadow: 0px 0px 50px rgba(#000, 0.15)
  .study-image
    position: absolute
    z-index: 1
    left: 2%
    bottom: -5%
    width: 40%
    height: 100%
    background-repeat: no-repeat
    background-size: contain
  .section-offer
    width: 100% 
  .section-desc
    color: $dark
    line-height: 1.875rem
    margin-top: 4%
  .btn
    margin-top: 4%

/* Приглашаем на обучение */

.invite
  background-color: #fcfbfa
  .section-title
    text-align: center
.courses-block
  display: flex
  flex-wrap: wrap
  
.courses-card
  background-color: #ffffff
  background-size: contain
  background-repeat: no-repeat
  padding: 30px
  padding-top: 175px
  width: 100%
  // max-height: 500px
  color: $dark
  box-shadow: 0px 0px 10px rgba(#000, 0.1)
  margin-top: 30px
  
  &:hover
    box-shadow: 0px 0px 15px rgba(#000, 0.2)
    // border-bottom: 4px solid $accent
    // box-sizing: border-box
    .h4
      color: $accent     
.h4
  font-family: "Fira Sans", serif
  font-weight: 400
  font-size: 1.2rem
  text-transform: uppercase
  line-height: 1.875rem
.date
  color: $second
.more
  font-family: "Fira Sans", serif  
  color: $second
  font-weight: bold
  text-decoration: none
  &:hover
    color: $accent
  i
    font-size: 1.25rem
    line-height: .5
    margin-top: 10px
    vertical-align: baseline
  
/* Полезный совет */

.recommendation
  background-color: $second
  box-shadow: 0px 0px 50px rgba(#000, 0.15)
  position: relative
  z-index: 1
  .recommendation-block
    border: 2px dashed #ffffff
    border-radius: 8px 
    color: #ffffff
    text-align: center
    padding: 30px 65px 15px
    &:before
      position: absolute
      content: ''
      font-family: "Fontawesome", serif
      background-color: $second
      border: 2px dashed #ffffff
      border-radius: 50%
      padding: 0 9px 0 11px
      left: 0
      top: 50%
      margin-top: -15px
    &:after
      position: absolute
      content: ''
      font-family: "Fontawesome", serif
      background-color: $second
      border: 2px dashed #ffffff
      border-radius: 50%
      padding: 0 11px 0 9px
      right: 0
      top: 50%
      margin-top: -15px
    .h5
      font-family: "Fira Sans", serif
      font-weight: 800
      font-size: 1.25rem
      span
        font-family: "Fontawesome", serif
        margin: 0 8px 0 3px
    .recommendation-title
      padding: 8px
      background-color: $second
      position: absolute
      left: 50%
      margin-left: -103px
      top: 0
      margin-top: -25px

/* Зоогостиница */
.hostel-image
  position: absolute
  z-index: 0
  right: -25%
  top: -15%
  width: 70%
  height: 100%
  background-repeat: no-repeat
  background-size: contain

/* Отзывы */
.reviews
  background-color: #F9F8F6
  .carousel-reviews
    max-width: auto
    &-item
      text-align: center
      max-width: 745px
      margin: auto
      &:before
        content: ''
        font-family: "Fontawesome", serif
        font-weight: 800
        font-size: 2.25rem
    .reviews-text

    .reviews-foto
      width: auto
      margin: auto

/* Карта */
.map
  height: 500px

  /* Footer */

.footer
  padding: 65px 0 30px
  background-color: #ffffff
  background-size: cover
  background-repeat: no-repeat
  background-color: #412814
  background-blend-mode: luminosity
  background-position: center top
  color: #FEFEFD
  &-logo
      img
        width: 100px
  &-nav
    display: flex
    justify-content: space-between
  &-menu
    display: flex
    flex-direction: column
    &-item
      font-size: .75rem
      line-height: 1.5rem
      color: #fff
      opacity: .7
      letter-spacing: .5px
      &:hover
        text-decoration: none
        color: #ffffff
        opacity: 1
    .h5
      margin: 0
      padding: 0
      &:hover
        color: #ffffff
        opacity: .75
        text-decoration: none 
  .footer-nav-contacts
    display: flex
    justify-content: flex-end
    
  .footer-menu-contacts
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0  

  .footer
    &-menu
      &-contacts
        position: relative
        #item-icons
          position: absolute
          font-size: 1.25rem
          right: 305px
          top: 7px
          text-align: right

        span
          text-transform: uppercase
          font-weight: 600
          letter-spacing: .06rem
    &-phone
      margin-bottom: 0
      a
        color: #ffffff
        font-weight: 800
        font-size: 0.85rem
    &-social-icon
      display: inline-block
      margin: 10px 10px 0 0
      .fab
        font-size: 0.8125rem
        font-weight: 600
        color: #fff
        text-decoration: none
        line-height: 28px
        text-align: center
        background-color: transparent
        border: 2px solid #fff
        border-radius: 50%
        width: 32px
        height: 32px
        &:hover
          color: #412814
          background-color: #fff
          >.animated
            animation-duration: .1s
            animation-delay: .1s
    &-form
      border-bottom: 1px solid #fff
      input
        width: 87%
        background-color: transparent
        border: none
        color: #ffffff
      button
        background-color: transparent
        border: none
        color: #ffffff
        font-size: 1.25rem
        cursor: pointer
        margin-bottom: 15px
  .form
    margin-top: -70px
  .copyright
    font-size: .7rem
    margin: 50px 0 0 25px
    text-align: center
    p
      margin-bottom: 2px
    .free
      font-size: 0.7rem
      letter-spacing: .25px
      opacity: .75
      >a
        color: #ffffff
        font-size: 0.7rem
        letter-spacing: .25px
        opacity: .75
    




@media screen and (max-width: 1199px)
  .top__nav .logo
    margin-left: 0
  body.ishome .top__nav-autorization 
    padding-right: 5%
  body.ishome .top__line 
    .top__line-location .h2
      font-size: 0.53rem
    .top__line-location p
      font-size: 0.52rem
    .h2
      letter-spacing: 0.05rem
  #item-icons
    display: none 

@media screen and (max-width: 992px)
  section
    padding: 60px 0
  body.ishome 
    .h4
      margin-top: 20% 
    .hostel-image
      right: -13%
      top: 0
      width: 60%
    .top__line .h2
      font-size: 0.65rem
    .top__line-phone
      font-size: 1rem
    .carousel-main-item
      >.offer
        >.offer-title
          font-size: 1.5rem
        >.offer-description
          font-size: 1rem
          width: 55%
    .side-bar
      display: none  
  body.ishome 
    .top__nav-menu, .top__nav-autorization
      li
        margin: 0 4px
        a
          font-size: 0.65rem
          .fas
            font-size: 0.95rem
    .top__nav-autorization
      li
        margin: 0
        
    .study-image
      left: 3%
      bottom: -10%
      width: 33%
    .section-title
      font-size: 1.7rem
    .section-desc
      font-size: 0.9375rem
      line-height: 1.75rem
  


@media screen and (max-width: 768px)
  body.ishome
    .footer-nav
      display: none
    .footer-nav-contacts
      text-align: center
    .form
      margin: 20px 0 auto
    .study-image, .hostel-image
      display: none
    .section-desc
      font-size: 0.875rem
      line-height: 1.75rem
    .btn
      font-size: 0.75rem
      padding: 12px 30px
    .h4
      margin-top: 5% 
    .top__nav-autorization
      display: none
    .top__line 
      .h2        
        font-size: 0.5rem
        letter-spacing: 0.05rem
        text-align: right
        .fas
          margin: 0 4px
  body.ishome .top__line-phone
    font-size: .75rem
  .m-autorization
    display: block
    padding: 0
    margin-top: 10px
    .fas
      margin-right: 10px
     

@media screen and (max-width: 576px)
  body.ishome
    .footer-form input
      width: 82%
    section
      padding: 35px 0 
    .courses-card
      padding: 30px
      padding-top: 65%
    .top__line
      background-color: #f50000 
      &-offer        
        display: none
    .top__line-phone
      width: 100%
      line-height: 39px
      margin: auto
    .top__nav-menu
      display: none
    .carousel-main-item
      &>.offer
        &-title
        &>.h1
          font-size: 1rem
          line-height: 2.5rem
        &>.offer-description
          font-size: 0.85rem
          width: 65%  

@media screen and (max-width: 525px)
  body.ishome 
    .top__line-location .fas
      left: 23%
      margin: auto
    .carousel-main-item
      &>.offer
        top: 30%
        left: 15px
        width: 91%
        margin: 0 auto
        >.btn
          width: 70%
          text-align: center
          margin-top: 9.5rem
          font-size: 0.75rem
        &-title
          margin-bottom: 1rem
        &>.offer-title
          font-size: .85rem
          line-height: 2.5rem
          letter-spacing: .03rem
          text-align: center
        &>.offer-description
          display: none

@media screen and (max-width: 510px)
  body.ishome 
    .section-title
      font-size: 1.5rem
    .top__line .h2
      display: none
    .top__line-phone
      font-size: .75rem
      width: 100%
    .top__nav-autorization
      display: none

@media screen and (max-width: 385px)
  body.ishome .top__line-location
    visibility: hidden

@media screen and (max-width: 320px)
  body.ishome .top__line-phone
    font-size: .75rem
  .btn
    width: 100%
    text-align: center


// @import "_media" // Always at the end
